#############################
## Terminal output options ##
#############################

# If a command fails, print out the full command line
build --verbose_failures

# Display the subcommands used to generate each target
# Uncomment to see the effect, if you have it allways enabled it will increase quite a log the logs
# build --subcommands=pretty_print

#####################
## Caching options ##
#####################

# Enable disk cache
build --disk_cache=~/.bazel/disk_cache/

#################################
## Toolchain debugging options ##
#################################

# Verbose output to know what toolchains are selected
# build --toolchain_resolution_debug=.*

######################
## Bazel registries ##
######################

# Required for boost
common --registry=https://raw.githubusercontent.com/bazelboost/registry/main
# Bazel central registry for other dependencies
common --registry=https://bcr.bazel.build

###########################
## Incompatibility flags ##
###########################

# https://github.com/bazelbuild/bazel/issues/12933
common --incompatible_config_setting_private_default_visibility
# https://github.com/bazelbuild/bazel/issues/22080
common --incompatible_disable_native_repo_rules
# https://github.com/bazelbuild/bazel/issues/17032
common --incompatible_disable_starlark_host_transitions
